.pickup-line-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 20px;
}

.pickup-line-container button {
    padding: 10px;
    margin: 5px;
    border-radius: 4px;
    border: 1px solid #ccc;
}

.pickup-line-container button {
    background-color: #007bff;
    color: white;
    cursor: pointer;
}

.pickup-line-container button:hover {
    background-color: #0056b3;
}

.pickup-line-container p {
    font-size: xx-large;
    font-weight: 600;
    font-family: monospace;
}

.pickup-line-text {
    display: inline-block;
    padding: 10px 20px;
    text-align: center;
    background-color: #ccc;
    border-radius: 20px;
    margin-top: 10px;
    max-width: 80%;        /* Limit the maximum width to 80% */
    white-space: normal;   /* Allow text wrapping */
    word-wrap: break-word; /* Break long words to fit within the max width */
    overflow-wrap: break-word;
    transition: opacity 0.5s, z-index 0.5s; /* Add transition for opacity and z-index */
}

.line-0 {
    z-index: 3;
    opacity: 1;
    transform: translateY(80px);
}

.line-1 {
    z-index: 2;
    opacity: 0.7;
    transform: translateY(40px);

}

.line-2 {
    z-index: 1;
    opacity: 0.4;
    transform: translateY(0px);

}
